<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>02_filter_listener</display-name>
  
  <!-- 필터등록하기  -->
  <filter>
  	<filter-name>basicfilter</filter-name>
  	<filter-class>com.filtertest.common.filter.BasicFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>basicfilter</filter-name>
  	<url-pattern>/*</url-pattern> <!-- /* 하면은 전체경로를 뜻함 주로 /*패턴을 줘서 적용시키지는 않는다.-->
  </filter-mapping>
  
  <!-- 리스너 등록  -->
  <listener>
  	<listener-class>com.filtertest.common.listener.ContextListnerTest</listener-class>
  </listener>
  
  
  
</web-app>