<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- mapper태그에 namespace속성을 설정해야한다. 
	namespace값은 session객체가 sql문을 메소드에 의해 실행할때
	사용하는 mapper구분 값이다.
-->
<mapper namespace="student">
 <!-- 
 	실행할 sql문에 맞는 태그를 선언하면됨.
 	<select>,<insert>,<update>,<delete>
 	sql문은 시작태그와 끝태그사이에 작성, ;를 작성하지 않는다.
  -->
  <insert id="insertStudent">
  	INSERT INTO STUDENT VALUES(SEQ_STUDENT.NEXTVAL, '유병승', '01012345678', 'YOO@YOO.COM','경기도 시흥시',DEFAULT)
  </insert>
  <!-- 메소드 실행시 매개변수가 있는 경우 Sql태그에 parameterType속성을 이용해서 매개변수 타입을 설정
  	parameter값은 #{파라미터명(매개변수명)}로 전달받을수 있다.
  
   -->
  <insert id="insertStudentByName" parameterType="string">
  	INSERT INTO STUDENT VALUES(SEQ_STUDENT.NEXTVAL, #{name}, '01012345678', 'YOO@YOO.COM','경기도 시흥시',DEFAULT)
  </insert>
  <!-- 타입을 작성할때 클래스를 작성하려면 패키지명까지 작성을 해야한다. -->
  <insert id="insertStudentAll" parameterType="com.mybatis.model.vo.Student">
  	INSERT INTO STUDENT VALUES(SEQ_STUDENT.NEXTVAL, #{studentName},#{studentTel}, #{studentEmail}, #{studentAddress}, DEFAULT )	
  </insert>
  
  <update id="updateStudent" parameterType="com.mybatis.model.vo.Student">
  	UPDATE STUDENT SET STUDENT_NAME = #{studentName}, STUDENT_TEL = #{studentTel} WHERE STUDENT_NAME = #{studentName}
  </update>
  <delete id="deleteStudent" parameterType="_int">
  	DELETE FROM STUDENT WHERE STUDENT_NO = #{no}
  </delete>
  
  <!-- select문 실행하기
  	<select>태그를 이용하기
  	반드시 두개의 속성을 작성하자.
  	1. id -> sql문을 지칭하는 값
  	2. resultType || resultMap -> 쿼리문의 실행결과를 반환할 타입
  	  resultType : java코드로 작성되어있는 타입(기본타입, 클래스타입)
  	  resultMap : mybatis에서 <resultMap>을 이용해서 만든 타입
  	  * 기본적으로 컬럼의 명과 매핑할 java클래스 필드명이 같으면 resultMap을 만들어서 직접 매핑을 시켜줘야함
  	  클래스간의 연관관계를 설정했을때(has a) 사용
   -->
  <select id="selectStudentCount" resultType="_int">
  	SELECT COUNT(*) FROM STUDENT
  </select>
  <!--
   vo객체와 resultset의 컬럼명이 불일치할때 resultMap을 이용해서 맴핑시켜줄수 있다.
   <resultMap id="구분" type="">
   <id property="type에 설정된 객체의 필드명" column="resultset컬럼명"> // pk컬럼같은 경우는 id에 넣어주면 됨
   <result >
   <associtation >
   <collection >
   -->
   
   <resultMap type="com.mybatis.model.vo.Student" id="studentMap">
	 <id property="studentNo" column="student_no"/>
	 <result property="studentName" column="student_name"/>
	 <result property="studentTel" column="student_tel"/>
	 <result property="studentEmail" column="student_email"/> 
	 <result property="studentAddress" column="student_addr"/>
   </resultMap>
 <!--  <select id="selectStudent" resultType="com.mybatis.model.vo.Student"  parameterType="_int"> -->
 <select id="selectStudent" resultMap="studentMap" parameterType="_int">
  	<!-- SELECT STUDENT_NO AS STUDENTNO, STUDENT_NAME AS STUDENTNAME, STUDENT_TEL AS STUDENTTEL, STUDENT_EMAIL AS STUDENTEMAIL,STUDENT_ADDR AS STUDENTADDRESS, REG_DATE --> 
  	SELECT * FROM STUDENT WHERE STUDENT_NO = #{no} 
  </select>
  
  <select id="selectStudentAll" resultMap="studentMap">
  	SELECT * FROM STUDENT
  </select>
  
  
</mapper>
