<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<properties resource="driver.properties"></properties>
<settings>
<setting name="jdbcTypeForNull" value="NULL"/> <!-- 처음 시작할때 세팅을 해줘야한다. -->
</settings>
<typeAliases>
	<typeAlias type="com.mybatis.model.vo.Employee" alias="emp"/>
	<typeAlias type="com.mybatis.model.vo.Department" alias="department"/>
	<typeAlias type="com.mybatis.model.vo.Board" alias="board"/>
	<typeAlias type="com.mybatis.model.vo.BoardComment" alias="boardComments"/>
	<typeAlias type="com.mybatis.model.vo.Member" alias="members"/>
	<typeAlias type="com.mybatis.common.StringArrayTypeHandler" alias="strArrType"/>
</typeAliases>
	<environments default="mybatis">
		<environment id="mybatis">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
			<!-- 	<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
				<property name="username" value="BS"/>
				<property name="password" value="BS"/> -->
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${user}"/>
				<property name="password" value="${pw}"/>
			</dataSource>
		</environment>
		<environment id="WEB">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="web"/>
				<property name="password" value="web"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="/mappers/employee-mapper.xml"/>
		<mapper resource="/mappers/member-mapper.xml"/>
	</mappers>
</configuration>
